body {
  font-family: 'Courier New', Courier, monospace;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: gray;
}

.title-text {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 50px;
}

.generated {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}